{% extends 'base.html.twig' %}   

    

{% form_theme formCategorie 'bootstrap_4_layout.html.twig' %}

{% block body %}
<a href="{{path('admin')}}" class="btn btn-primary"> retour vers l'accueil </a> 
    <br>
    <br>
    <br>
    <br>
    <br>
<a href="{{path('admin.page')}}" class="btn btn-primary"> retour vers la liste</a> 

    <div class="jumbotron">

        <h2>Creation d'une nouvelle catégorie<h2>

    </div>

    {{ form_start(formCategorie) }}

    <div class="form-group">

        {{ form_label(formCategorie.titre) }}

        <div class="col-sm-4 col-xs-8 small-spacer">

            {{ form_widget(formCategorie.titre) }}

        </div>

        <div class="col-xs-12">

            {{ form_errors(formCategorie.titre) }}

        </div>
    
    <button type="submit" class="btn btn-success">envoyer</button>

    {{ form_end(formCategorie) }}

{% endblock %}