{% extends 'base.html.twig' %}       
{% form_theme formModifCat 'bootstrap_4_layout.html.twig' %}

{% block body %}
<a href="{{path('admin')}}" class="btn btn-primary"> retour vers l'accueil </a> 
    <br>
    <br>
    <br>
    <br>
    <br>
<a href="{{path('admin.page')}}" class="btn btn-primary"> retour vers la liste</a> 
<div class = "jumbotron">
    <h2> Modification de la catégorie</h2>
</div>

{{ form_start(formModifCat) }}

{{ form_widget(formModifCat) }}
<button type="submit" class="btn btn-success">envoyer</button>
{{ form_end(formModifCat) }}

{% endblock %}


