{% extends 'base.html.twig' %}   
         
{% form_theme formPage 'bootstrap_4_layout.html.twig' %}

{% block body %}

{{ form_start(formPage) }}
{{ form_widget(formPage.titre) }}
{{ form_widget(formPage.auteur) }}
{{ form_widget(formPage.createdAt) }}
{{ form_widget(formPage.jourAt) }}
{{ form_widget(formPage.contenu) }}
{{ form_widget(formPage.categorie) }}

<button type="submit" class="btn btn-success">envoyer</button>
{{ form_end(formPage) }}

{% endblock %}


