{% extends 'base.html.twig' %}

{% block title %}Liste des pages{% endblock %}

{% block body %}
     


<table>
<tr>
<th>id</th>
<th>titre</th>
<th>auteur</th>
<th>contenu</th>
<th>date de création</th>
<th>date de mise à jour</th>
<th>categorie</th>
</tr>

        {% for page in pages %}
<tr>
<td>{{page.id}}</td>
<td>{{page.titre}}</td>
<td>{{page.auteur}}</td>
<td>{{page.contenu}}</td>
<td>{{page.createdAt | date('d/m/Y h:i')}}</td>
<td>{{page.jourAt | date('d/m/Y h:i')}}</td>
<td>{{page.categorie.titre}}</td>
                </tr>
            
        {% endfor %}
            </table>            
        
        </div>


{% endblock %}
