{% extends 'base.html.twig' %}


{% block title %}Calipso{% endblock %}

{% block body %}
    <article>
    <div>
            <p>Numero de la page: {{page.id}}</p>

           <p>Titre de :</p>
            {{page.titre}}
            <p>Categorie :</p>
              {{page.categorie.titre}}


             <p>contenu: </p>
            
             {{page.contenu}}
            <p>écrit par:</p>
             {{page.auteur}}
            <p>Date de creation de la page:</p>
        {{page.createdAt | date('d/m/Y h:i ')}}
        <p>Date de modification de la page:</p>
        {{page.jourAt | date('d/m/Y h:i ')}}
      <p>documents </p>
      {% for document in page.documents %}
    {{ document.titre }}

{% endfor %}
            </div>
       </article>   
       
{% endblock %}