<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Immo agence{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet"  href="{{ asset('/css/amelipro.min.css') }}"> 
        {% endblock %}
    </head>
    

    <body>
      <main class="main-large">




    <a href="page.html" class="btn-menu" data-toggle="collapse" data-target=".menu"></a>

    <div class="menu collapse">

      <div class="row">
        <div class="col-9">MENU</div>
        <div class="col-3 text-right">
          <a href="#" data-toggle="collapse" data-target=".menu">&times;</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul>
            <li><a href="index.html">Accueil</a></li>

            <li><a href="page.html">Page 1</a>
              <ul>
                <li><a href="page.html">Sous Page 1</a></li>
                <li><a href="page.html">Sous Page 2</a></li>
              </ul>
            </li>
            <li><a href="page.html">Page 2</a></li>
            <li><a href="page.html">Page 3</a></li>
            <li><a href="page.html">Page 4</a></li>
            <li><a href="page.html">Page 5</a></li>
          </ul>
        </div>
      </div>
    </div> 

   <nav class="navbar navbar-light bg-primary " >
      <form class="form-inline">
        <a href="{{path('admin')}}" > 
              <button class="btn btn-outline-success bg-dark" type="button"  bg-dark>Accueil</button> 
        </a>
      
        <a href="#" >
          <button class="btn btn-sm btn-outline-secondary bg-dark" type="button"  >Connexion</button>
        </a>
        
        <a href="{{path('admin.page')}}" > 
          <button class="btn btn-sm btn-outline-secondary bg-dark" type="button"  >Liste des pages</button>
        </a>
      

         <a href="{{path('admin.categorie')}}" > 
          <button class="btn btn-sm btn-outline-secondary" type="button">Liste des catégories</button>
        </a>

           <a href="{{path('document_index')}}" >
          <button class="btn btn-sm btn-outline-secondary" type="button">Liste des documents</button>
        </a>
        
           <a href="{{path('page')}}" >
          <button class="btn btn-sm btn-outline-secondary" type="button">Arborescence des pages</button>
        </a>
      </form>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
        {% block body %}


        
        {% endblock %}

        {% block footer %}

            <div class="row bg-dark" >
                <div class="col-sm-6 ">
                  <div class="card">
                    <div class="card-body bg-dark">
                        <h5 class="card-title text-light">CNAM PARIS</h5>
                      <h5 class="card-title text-light">A propos de l'Agence</h5>
                      <p class="card-text text-light">

                            50 Avenue du Professeur André Lemierre  </br>
                            75020 Paris  </br>
                            Tél : 01 46 78 01 00 </br>
                            Fax : 01 46 78 50 35 </br>
                            vincent.benoit@assurance-maladie.fr
                      </p>
                      <a href="#" class="btn btn-primary">Mapper notre Agence !</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body bg-info">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Mapper notre Agence !</a>
                    </div>
                  </div>
                </div>
              </div>
        {% endblock %}

        

  </main>
  <!-- JS library -->
  <script src="js/amelipro.min.js" type="text/javascript"></script>

</body>

</html>
    </body>
</html>